
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a EnviosYa</h1>
    <p>
        Tu amigo, <%= @user.name + @user.lastName %> te invitó a utilizar EnviosYa
         Registrate con el link a continuación y obtendrás un 50% para los dos<br>
    </p>
    <p>
     Para registrate sigue el link:  <%= @url %>.
    </p>
  </body>
</html>