
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>EnviosYa</h1>
    <p>
        El precio a pagar (Un estimativo que puede variar NO ES EL PRECIO FINAL):  <%= @shipment.price %> <br>
    </p>
    <p>
     Si considera que este email no es para usted, pongase en contacto con el soporte de EnviosYa.
    </p>
  </body>
</html>