<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <div id="error_explanation">
        <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <label for="user_name">Name</label>
    <input type="text" class="form-control" id="user_name" name="user[name]" placeholder="NameExample" required>
  </div>

  <div class="field">
    <label for="lastName">Name</label>
    <input type="text" class="form-control" id="user_lastName" name="user[lastName]" placeholder="LastNameExample" required>
  </div>

  <div class="field">
    <label for="user_email">Email address</label>
    <input type="email" class="form-control" id="user_email" name="user[email]" placeholder="name@example.com" required>
  </div>

  <div class="field">
    
    <label for="user_password">Password</label>
    <input type="password" class="form-control" id="user_password" name="user[password]" placeholder="Password" required>
  </div>

  <div class="field">
    <label for="user_document">Document</label>
    <input type="document" class="form-control" id="user_document" name="user[document]" placeholder="Document" required>
  </div>
  


  <div class="field">
    <%= form.label :avatar %>
    <%= form.file_field :avatar,id: :user_avatar, class: 'form-control'%>
  </div>
  
  </br>
  <div class="actions" style="text-align:center;">
    <button type="submit" class="btn btn-primary" style="">Create</button>
  </div>
<% end %>
