<%= javascript_include_tag 'shipments/shipment.js', 'data-turbolinks-track' => true %>
<h1>Create Shipment</h1>
<h4>Choose origin and destiny</h4>
<div id='map'></div>

<div class="row">
    <div class="col-md-4"><h4 id='price'>Estimated Price: </h4></div>
</div>


<div class="row">
  <div class="col-md-8"></div>
  <div class="col-md-4"></div>
</div>
<div class="row">
    <div class="col-md-4"><h4>Receiver Email: </h4></div>
    <div class="col-md-4">
        <h4>Receiver Postal Code:</h4>
        <h4>Sender Postal Code:</h4>
    </div>
    <div class="col-md-4"><h4>Billing: </h4></div>
</div>
<div class='row'>
    <div class='col-md-4'>
        <button type="button" class="btn btn-primary">Confirm Shipment</button>
    </div>
</div>
