<div id="loginForm">
    <div class="form-group">
        <label for="user">User:</label>
        <input type="text" class="form-control" id="user">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password">
    </div>
    <div id="send" class="btn btn-default">Sign In</div>
</div>