   <%= form_for(:shipment, url: '/shipments/confirm') do |form| %>
    <div class="field">
      <%= form.label :confirm_reception %>
      <%= form.file_field :confirm_reception,id: :cadet_confirm_reception, class: 'form-control'%>
    </div>
    <%= hidden_field_tag "shipment_id", shipment.id %>
    </br>
    <div class="actions" style="text-align:center;">
      <button type="submit" class="btn btn-primary" style="">Confirm</button>
    </div>
  <% end %>