
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand"  style="font-size: 200%;" href="#">EnviosYa</a>
  <a href="/users/main" >Back</a>
</nav>
<%= render 'form', shipment: @shipment %>

    
